/* ls
Slovak colors: 
Blue - #0B4EA2
Red - #EE1C25

Use CSS to add the following to your site.

Padding and border added to at least one element #1
Margin added to at least one element #2
At least one centered element (a footer message can be nice for this) #3
A background image on at least one element #4
A different font on at least one element #5
A few elements styled using a class #6
A different color for visited links #7
An element styled with an ID #8


*/


nav { /*#1*/
	padding: 5px;
	border: solid 8px #EE1C25;
	background-color: white;
	font-family: Helvetica; /*#5*/ 
	width: 20%;
	display: inline-block;
	height: 1000px;
	vertical-align: top;
	margin: auto;
	text-align: center;
}

nav a {
	font-size: 1.2em;
	display: inline-block;
}

nav img {
	width: 80%;
	display: block;
	margin: auto;
	margin-top: 60px;
	padding: 0px;
}

main {
	width: 70%;
	display: inline-block;
	padding-left: 20px;
	margin-top: -13px;
}

#flag {
	margin-left: 100px; /*#2*/
	width: 20%;
}

h1 a:visited {
	color: white;
}

a:visited {
	text-decoration-line: none;
}

#castlepage {
	background-image: url("pics/bratislava-1768975_1920.jpg"); /*#4*/
	height: 1000px;
	box-shadow: 260px 0 100px 100px white inset;
	background-repeat: no-repeat;
	background-color: white;
	background-attachment: fixed
}


#castlepage2 {
	background-image: url("pics/bratislava-1768975_1920.jpg"); /*#4*/
	height: 1000px;
	box-shadow: 500px 0 500px 100px #996515 inset;
	background-repeat: no-repeat;
	background-color: white;
	background-attachment: fixed
}

footer { /*3*/
	margin: auto;
	width: 300px;
}

table td {
	column-width: 25%;
}

.recpic img {
	box-shadow: 0 0 8px 8px white inset;
}

.recpic:hover { /*#6*/
  opacity: 0.4;
  color: black;
}

html {
	background-color: #0B4EA2;	
	color: white;
	font-family: Helvetica;
}

a:visited { /*#7*/
	color: red; /* leave this for now, but come back when the nav links are split off*/
}

#segetab:hover { /*#8*/
	text-transform: uppercase;
}

table {
	text-align: center;
	font-family: Helvetica;
}

td {
	padding: 5px;
}

@font-face {
	font-family: Junction;
	src: url(fonts/junction-regular.otf);
}

@font-face {
	font-family: Franchise;
	src: url(fonts/Franchise-Bold.ttf);
}

@font-face {
	font-family: KiloGram;
	src: url(fonts/KiloGram.otf);
}

h1 {
	font-family: Kilogram;
}

h2, h3 {
	font-family: Junction;
}

h2, h3 {
	text-decoration: underline;
}

img {
	border: 1px solid white;
}